.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.ApiTitle{
    font-size: 2rem;
    color: #f5c1ff ;
    text-align: center;
    margin: 20px 0;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }

  .card{
    background: #fff;
    border-radius: 12px;
    width: 220px;
    transition: box-shadow 0.2s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

